body {
  text-align: center;
  position: relative;
  background-color: #b9fff8;
  overflow-x: hidden;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}
hr {
  width: 6rem;
  border-style: none;
  border-bottom: 10px dotted rgb(200, 200, 200);
  margin: auto;
  padding: 30px;
}
.header {
  position: relative;
  height: 100vh;
}
.header > .cloud__top {
  position: absolute;
  right: 21%;
  top: 3rem;
  width: 230px;
}
.header > .mountain__container {
  width: 100%;
  position: absolute;
  bottom: 1%;
  display: flex;
  justify-content: center;
}

.header > .cloud__bottom {
  position: absolute;
  left: 20%;
  top: 35%;
  width: 170px;
}
.header > h1 {
  font-family: "Dancing Script", cursive, sans-serif;
  font-size: 60px;
  color: #66bfbf;
  padding-top: 7rem;
}
.header > h2 {
  font-family: "Roboto Condensed", sans-serif;
  color: #66bfbf;
  padding-top: 2rem;
}
div.social__icons {
  width: 250px;
  margin: auto;
  padding-top: 10px;
  margin-top: 10px;
  border-top: 3px solid #66bfbf;
}

.social__icons > ul {
  list-style: none;
}
.social__icons > ul > li {
  display: inline;
  color: #66bfbf;
  font-size: 30px;
  padding: 10px;
}
.social__icons > ul > li > a.link {
  color: #66bfbf;
  transition: 0.3s ease-in-out;
}
.social__icons > ul > li > a.link:hover {
  color: #437a7a;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  flex-direction: column;
}
.profile {
  display: flex;
}

.profile > img {
  width: 100px;
  height: 100px;
}

.profile > .profile__text__container {
  width: 30rem;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  margin-left: 40px;
  text-align: start;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.257);
}
.profile__text__container > h1 {
  font-family: "Ropa Sans", sans-serif;
}
.profile__text__container > p {
  font-family: "Roboto", sans-serif;
  padding-top: 15px;
  line-height: 1.5;
}
.profile__text__container::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  left: -10px;
  top: 40px;
  transform: rotate(45deg);
}
.skills {
  display: flex;
  padding-top: 90px;
}
.skills > img {
  width: 100px;
  height: 100px;
}
.skills > .skills__container {
  position: relative;
  width: 30rem;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  margin-left: 40px;
  text-align: start;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.257);
}
.skills__container::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  transform: rotate(45deg);
  left: -10px;
  top: 40px;
}
.skills__container > h1 {
  font-family: "Ropa Sans", sans-serif;
}
.skills__container > p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  opacity: 0.5;
  padding-bottom: 20px;
}
.skills__container > span {
  font-family: "Kalam", cursive, sans-serif;
  font-size: 1.5rem;
}
.skills__container > div.language {
  position: relative;
  width: 100%;
  height: 12px;
  border-radius: 20px;
  background-color: rgba(127, 124, 124, 0.359);
  margin-bottom: 15px;
  overflow: hidden;
}
.html::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 90%;
  background-color: #f06529;
}
.css::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 85%;
  background-color: #2965f1;
}
.javascript::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 80%;
  background-color: #f0db4f;
}
.react::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 80%;
  background-color: #61dbfb;
}
.git::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 87%;
  background-color: #f34f29;
}
section.content > div.contact {
  margin-top: 100px;
}
div.contact > h1 {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #41a5a5;
}
div.contact > h2 {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #41a5a5;
  padding-top: 20px;
}
div.contact > p {
  width: 600px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 50px;
}
div.contact > a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  background-color: #388585;
  color: #1b3b3b;
  padding: 10px 20px;
  font-family: "Kalam", cursive, sans-serif;
  border-radius: 5px;
  transition: 0.2s;
}
div.contact > a:hover {
  background-color: #41a5a5;
  transition: 0.2s;
}

footer {
  width: 100%;
  background-color: #41a5a5;
  margin-top: 50px;
  padding-top: 60px;
}
footer > ul {
  list-style: none;
}
footer > ul > li {
  display: inline;
  padding: 30px;
}

footer > ul > li > a {
  text-decoration: none;
  font-size: 25px;
  color: #b9fff8;
}
footer > ul > li > a:hover {
  transition: 0.2s;
  color: #f4fffe;
}
footer > p {
  display: inline-block;
  color: white;
  margin-top: 40px;
  padding-bottom: 25px;
  font-size: 20px;
  opacity: 0.4;
  cursor: pointer;
}
footer > p:hover {
  opacity: 1;
  transition: 0.2s ease-in-out;
}
@media (max-width: 1200px) {
  .header > .cloud__top {
    right: 15%;
  }
}

@media (max-width: 900px) {
  .header > .cloud__top {
    right: 8%;
  }
  .header > .cloud__bottom {
    left: 10%;
    top: 45%;
  }
}
@media only screen and (max-width: 650px) {
  .header > .cloud__top {
    right: 8%;
    top: 15%;
    width: 130px;
  }
  .header > .cloud__bottom {
    left: 8%;
    top: 55%;
    width: 130px;
  }
  .header > .mountain__container > .mountain {
    width: 390px;
  }
  .header > h1 {
    font-size: 50px;
    padding-top: 14rem;
  }
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .profile > .profile__text__container {
    width: 80%;
    margin-left: 0;
    margin-top: 30px;
  }
  .skills {
    display: flex;
    padding-top: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .skills > .skills__container {
    width: 95%;
    background-color: white;
    padding: 25px;
    margin-left: 0;
    margin-top: 30px;
  }
  div.contact > p {
    width: 95%;
    margin: auto;
    font-family: "Roboto", sans-serif;
    padding-top: 20px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  .skills__container::before {
    left: 47%;
    top: -10px;
  }
  .profile__text__container::before {
    left: 47%;
    top: -10px;
  }
  footer > ul > li {
    display: inline;
    padding: 15px;
  }
  footer > ul > li > a {
    text-decoration: none;
    font-size: 20px;
    color: #b9fff8;
  }
}

/* css animation */
.my__image2,
.my__image {
  opacity: 0;
  -webkit-transform: translateX(-100px);
  -moz-transform: translateX(-100px);
  -ms-transform: translateX(-100px);
  -o-transform: translateX(-100px);
  transform: translateX(-100px);
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.skills__container,
.profile__text__container {
  opacity: 0;
  -webkit-transform: translateX(150px);
  -moz-transform: translateX(150px);
  -ms-transform: translateX(150px);
  -o-transform: translateX(150px);
  transform: translateX(150px);
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}
.cloud__top {
  opacity: 0;
  -webkit-transform: translateX(150px);
  -moz-transform: translateX(150px);
  -ms-transform: translateX(150px);
  -o-transform: translateX(150px);
  transform: translateX(150px);
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  -ms-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}
.cloud__bottom {
  opacity: 0;
  -webkit-transform: translateX(-150px);
  -moz-transform: translateX(-150px);
  -ms-transform: translateX(-150px);
  -o-transform: translateX(-150px);
  transform: translateX(-150px);
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  -ms-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out;
  transition: all 1.5s ease-out;
}
.visible {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
